{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "root": true,
  "rules": {
    "no-param-reassign": "off",
    "valid-jsdoc": ["error", {
      "requireReturn": false
    }]
  },
  "overrides": [
    {
      "files": ["test/**/*.js"],
      "globals": {
        "PixSqueeze": "readonly"
      }
    }
  ]
}
